/* font-family: "Jersey 10 Charted", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap');

/* font-family: "Libre Barcode 128 Text", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Libre+Barcode+128+Text&display=swap');

/* font-family: "Teko", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Libre+Barcode+128+Text&family=Teko:wght@300..700&display=swap');

/* font-family: Reggae One, system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Libre+Barcode+128+Text&family=Reggae+One&family=Teko:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0%;
}

p {
  font-family: "Reggae One", system-ui;
}

h1 {
  font-size: 10rem;
}

.sideR {
  padding: 0.5%;
  height: 30.5rem;
  width: 33%

}

:root {
  --hamlindigo-blue: #A8BEF0;
  --ng-orange: #f5833b;
  --must-yellow: #ffcc02;
  --funny: rgb(76, 76, 76);
}

.small {
  font-size: x-small;
}

.fire {
    color: #f5833b;
    font-family: "Jersey 10 Charted", sans-serif;
    font-size: 10vh;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px grey, 0 0 1rem orange;
  }
  
.madness {
  color: red;
  font-family: "libre barcode 128 Text", system-ui;
  font-size: 77px;
}

.header {
  background-color: #f5833b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  border-radius: 2rem;
}

.header a{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2rem;
  width: 7rem;
}

.mainBG {
background-color: #ccc;
}

#mcolor {
  background-color: #ccc;
}

.music {
  background-image: url("images/music-melody-musical-note-music-779f13-1024.jpg");
  background-color: whitesmoke;
  height: 333px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  font-size: xx-large;
  font-family: "teko", system-ui;
}

.music p{
  color: orange;
}

.holdEm {
  padding: 10em;
}

